body
{
color: white;
text-align: center;
}

.heading{
    width:100%;
    text-align: left;
}

.heading button{
float: right;
border: 2px solid white;
}

.heading h3{
    display: inline;
    padding-top: 4px;
}



#start, #restart,#status{
    font-size: 39px;
}

#footer{
    width: 100%;
    font-size: 40px;
    bottom: 0;
    line-height: 2;
}

.modal-dialog{
    width: 90%;
}

.instructions{
    display: inline-block;
    width: 45%;
}